doctype html
html(lang='en')
  head
    title!= title
  body
    h1!= msg
    p.
        Jade is a terse and simple templating language
        with a strong focus on performance and powerful features.
    p.
        And now, for some Hipster Ipsum
    p.
        Marfa cliche Helvetica, umami bicycle rights Austin locavore mumblecore cray banh mi iPhone Portland letterpress meditation. Master cleanse plaid brunch ennui disrupt cardigan, yr High Life. Swag Vice shabby chic, flannel Truffaut mixtape twee aesthetic farm-to-table flexitarian before they sold out roof party Kickstarter normcore. XOXO Tonx master cleanse, hashtag squid tilde shabby chic pork belly. Mixtape whatever seitan, distillery fashion axe forage sartorial iPhone dreamcatcher. Keffiyeh bitters shabby chic chambray. Shoreditch sustainable photo booth viral health goth, swag Thundercats kitsch Truffaut salvia banjo disrupt Tumblr drinking vinegar jean shorts.
